@media screen and (min-width: 992px) and (max-width: 1199px) {		.newletter_form input {    		margin: 0 10px 0 0px;		min-width: 260px;	}		.newletter_form label {		width: 100%;		text-align: center;	}	.newletter_form .ff {		width: 100%;	}	.social_area {    		text-align: center;	}	.social_area ul {		float: none;	}
	.container{padding-left: 15px; padding-right: 15px;}
	.header_top{width: 70%;}
	.login_part ul li:after{content: ""; position: absolute;top: 7px; right: 0;height: 15px;width: 1px; background: #e7e7e7;}
	.login_part ul li:last-child:after{display: none;}
	#main-nav.stellarnav{margin-top: 10px;}
	.header_search{margin-top: 10px;}
	.category_list h2{font-size: 20px;}
	.right_panel{padding: 0;}
	.product_list ul li:nth-child(4n){margin-right: 1.5em;}
	.product_list ul li:nth-child(3n){margin-right: 0;}
	.product_list ul li{width: 31.2%;}
	.welcome_section{padding: 30px 0 0 0;}	
	.best_price_text{margin-top: 40px;}
	.best_price_text ul li{font-size: 18px;}
	/*====06/08/2019====*/
	.product_list .row {display: flex;flex-wrap: wrap;}
	.product_list .p_box{min-height: inherit;}
	#myModal .modal-dialog{width: auto !important;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {	/* footer css started here */	.newletter_form input {        margin: 0 10px 0 0px;		min-width: 150px;	}		.newletter_form label { width: 100%; }		/*footer css */
	.container{padding-left: 15px; padding-right: 15px;}
	.header_top{float: none; width: 100%; height: auto;padding: 7px 15px;}
	.header_top:before{display: none;}
	.header_top_inner{position: relative;left: 0; top: 0; bottom: 0;margin: 0 auto;max-width: 750px;padding: 0 15px;}
	.login_part ul li:after{content: ""; position: absolute;top: 7px; right: 0;height: 15px;width: 1px; background: #e7e7e7;}
	.login_part ul li:last-child:after{display: none;}
	.header_search{margin-top: 20px;}
	#main-nav.stellarnav{margin-top: 10px;}
	.stellarnav .full{color: #fff !important;}
	#main-nav.stellarnav ul{text-align: left;}
	#main-nav.stellarnav ul li a{color: #000;padding: 15px;}
	#main-nav.stellarnav.light ul ul{background: #fff;}
	#main-nav.stellarnav.light ul ul li a{color: #000;padding: 15px;}
	.category_list h2{font-size: 24px;}
	.right_panel{padding: 0;}
	.product_list ul li:nth-child(4n){margin-right: inherit;}
	.product_list ul li:nth-child(2n){margin-right: 0;}
	.product_list ul li{width: 47%;}
	.welcome_section{padding: 30px 0 0 0;}
	.newletter_form label{float: none; text-align: center;margin-bottom: 10px;margin-top: 0; display: block;}
	.newletter_form .ff{float: none; width: 100%;margin-bottom: 20px;}
	.social_area{text-align: center;}
	.social_area label{display: block; padding: 0 0 10px 0;}
	.social_area ul{float: none; text-align: center;}
	.social_area ul li a{margin: 0 5px;}
	.footer_map{margin-top: 20px;}
	.copyright{text-align: center;}
	.billing_details h3{font-size: 18px;}
	.update_shipping_text{padding: 0;}
	.update_shipping_text h2{font-size: 20px;}
	.login_form{padding: 30px;}
	.login_share_ad{padding: 30px 0 0 0;}
	.search_address .form-group .form-control{margin-bottom: 5px;}
	/*===06/08/2019====*/
	.product_list .row {display: flex;flex-wrap: wrap;}
	.product_list .p_box{min-height: inherit;}
	.pbxcontent{font-size: 12px;min-height: inherit;}
	.imgbtn{padding: 3px;}
	#myModal .modal-dialog{width: auto !important;}
	.totals .totals-item{float: none;}
	.totals .totals-item .totals-value{width: auto;}
	.totals .totals-item label{width: auto;}
	.cancel_button{float:none !important;text-align: center;}
	.firstdiv{margin: 10px 0;}
	.cont_button{float: none !important;text-align: center;}
	.optionsBox .form-group{text-align: center !important;}
	.radiobtn{text-align: center;}
	.radiobtn li{float: none !important; display: inline-block;}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.container{padding-left: 15px; padding-right: 15px;}
	.header_top{float: none; width: 100%; height: auto;padding: 5px 10px 5px 10px;}
	.header_top:before{display: none;}
	.header_top_inner{position: relative;left: 0; top: 0; bottom: 0;}
	.login_part{float: none; text-align: center;padding: 0 0 5px 0;border-bottom: 1px solid #0e4d8a;}
	.login_part ul li:after{content: ""; position: absolute;top: 7px; right: 0;height: 15px;width: 1px; background: #e7e7e7;}
	.login_part ul li:last-child:after{display: none;}
	.login_part ul li a{padding: 0 10px;}
	.contact_part{float: none;padding:5px 0 0 0;text-align: center;}
	.contact_part ul li{padding:0 13px 0 40px; text-align: left;}
	.logo{margin: 0 auto; max-width: 150px;}
	#main-nav.stellarnav{margin-top: 10px;}
	.stellarnav .full{color: #fff !important;}
	#main-nav.stellarnav ul{text-align: left;}
	#main-nav.stellarnav ul li a{color: #000;padding: 15px;}
	#main-nav.stellarnav.light ul ul{background: #fff;}
	#main-nav.stellarnav.light ul ul li a{color: #000;padding: 15px;}
	.header_search{margin-top: 0;}
	.right_panel{padding: 20px 0 0 0;}
	.welcome_section{padding: 30px 0 0 0;}		/*footer css started*/		.newletter_form label { text-align: center;  width: 100%; }		.newletter_form input { margin: 0 0 10px 0; }		.newletter_form button[type="submit"] { margin-bottom: 20px; }		.newletter_form .ff { width: 100%; flex-direction: column; }		/*footer css*/
	.social_area{text-align: center;}
	.social_area label{display: block; padding: 0 0 10px 0;}
	.social_area ul{float: none; text-align: center;}
	.social_area ul li a{margin: 0 5px;}
	.ft_nav,.contact_info{margin-bottom: 30px;}
	.copyright{text-align: center;}
	.best_price_head{margin: 0 auto;float: none;}
	.best_price_text{width: 100%; float: none;}
	.best_price_text ul li{padding: 0 0 12px 12px;font-size: 20px;}
	.mid_body_all .pull-right {float: none !important;}
	.left_pan_taxt{margin: 0 0 7px 0;}
	.button_area{margin-bottom: 30px;}
	.contact_right {margin-top: 30px;}
	.apply_coupon input[type="text"]{max-width: 100%; margin-bottom: 5px;}
	.order_success h1{font-size: 20px;}
	.update_shipping_text h2{padding: 0 0 28px 40px;}
	.update_shipping_text h2:before{background: url(../images/up-icon.png) no-repeat;height: 48px;width: 28px;}
	.quote_box .form-group label{float: none; width: 100%;margin-bottom: 5px;}
	.quote_box .form-group .inputFld{float: none; width: 100%;}
	.login_form{padding: 30px;}
	.login_share_ad{padding: 30px 0 0 0;}
	.addrss_heading .heading{margin: 0 0 10px 0;}
	.search_address .form-group .form-control{margin-bottom: 5px;}
	/*====06/08/2019====*/
	#myModal .modal-dialog{width: auto !important;}
	.cancel_button{float:none !important;text-align: center;}
	.firstdiv{margin: 10px 0;}
	.cont_button{float: none !important;text-align: center;}
	.optionsBox .form-group{text-align: center !important;}
	.radiobtn{text-align: center;}
	.radiobtn li{float: none !important; display: inline-block;}
	.totals .totals-item{float: none;}
	.totals .totals-item .totals-value{width: auto;}
	.totals .totals-item label{width: auto;}
	.totals-value input {max-width: 90px;}
}
@media screen and (max-width: 767px){
	.product_list ul li:nth-child(4n){margin-right: inherit;}
	.product_list ul li:nth-child(2n){margin-right: 0;}
	.product_list ul li{width: 47.6%;}
	
	/*===06/08/2019====*/
	.contact_part ul{display: flex;flex-wrap: wrap;justify-content: center;}
	.contact_part ul li{display: flex;padding: 0 5px;}
	.contact_part ul li img{position: relative;top: 0;margin-right: 5px;}
	.contact_part ul li span{display: none;}
	.order_id, .product_img, .product_descriptions, .poduct_price, .delivery_date, .delivery_status{
		width: 100%;text-align: left;font-weight: 600;color: #000;
	}
}
@media screen and (max-width: 480px){
	.product_list ul li{width: 100%;margin: 0 0 2em 0;}
	.upload_pg h2{font-size: 26px;}
	.padRight0{padding-right: 0;}
}

/*for cart page*/
/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
	  float: right;
  }

  .product-line-price {
    float: left;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: left;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

  .totals .totals-item label {
    width: 60%;
  }
/*  .totals .totals-item .totals-value {
    width: 40%;
  }*/
}